/docker/mysql
/sptsp/.phpunit.cache
/sptsp/node_modules
/sptsp/public/build
/sptsp/public/hot
/sptsp/public/storage
/sptsp/storage/*.key
/sptsp/vendor
/sptsp/.env
/sptsp/.env.backup
/sptsp/.env.production
/sptsp/.phpunit.result.cache
/sptsp/Homestead.json
/sptsp/Homestead.yaml
/sptsp/auth.json
/sptsp/npm-debug.log
/sptsp/yarn-error.log
/sptsp/.fleet
/sptsp/.idea
/sptsp/.vscode